<% if (user) { %>
<div class="container px-2 py-2 bg-dark text-light">

<<<<<<< HEAD
  <h4 class="mt-4 font-family-base m-auto font-weight-bold"><a href="/dashboard"
      class="text-light text-decoration-none">THE MESSAGE TRANSFER HUB</a></h4>
  <p class="lead mb-1">Welcome <%= user.name %> <a href="/users/logout"
      class="btn btn-outline-success rounded">Logout</a></p>
  <nav class="navbar  navbar-light border border-success mt-2 rounded">
=======
  <h4 class="mt-4 font-family-base m-auto font-weight-bold"><a href="/dashboard"class="text-light text-decoration-none" >THE MESSAGE TRANSFER HUB</a></h4>
  <p class="lead mb-1">Welcome <%= user.name %> <a href="/users/logout" class="btn btn-outline-success rounded btn-sm float-end">Logout</a></p>
  <nav class="navbar  navbar-light border border-success mt-3 rounded">
>>>>>>> 9091959f2cf5b89f9a3875e2bf3c25e5399a58f4
    <div class="container-fluid ">

      <div class="" id="">

        <form class="d-flex" action="/search" method="get">
          <input class="form-control me-2 rounded" type="search" placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-outline-success rounded  btn-sm" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <%# file sharing engine %>
  <div class="row mt-1">
    <div class=" py-2 px-2 col-lg-5">
      <p class="mx-3">UPLOAD YOUR FILE</p>

      <% if(locals.fileLink != null){%>
      <div style="margin-bottom: 1rem;">
        Your file is uploaded
        <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
      </div>
      <% } %>

      <form action="/upload" method="post" enctype="multipart/form-data" class="">

        <div class="row mx-1 ">
          <div class="form-group ">
            <label for="file">File:</label>
            <input type="file" id="file" name="files" required class="form-control rounded" webkitdirectory directory multiple/>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control rounded" />
          </div>

          <div class="form-group">
            <button class="btn btn-outline-success rounded mt-3 float-end btn-sm" type="submit">Share</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-5 ">
      <div>
        <h2 class="text-light ">Your Files</h2>
        <ul class="">
          <% files.forEach(function(file) { %>
          <li><a href="/file/<%= file._id %>"
              class="text-light text-decoration-none hover "><%= file.originalName %></a></li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>

</div>
<% } else { %>
<<<<<<< HEAD
<script>
  window.location.href = '/login';
</script>
<% } %>
=======
  <script>
    window.location.href = '/login';
  </script>
<% } %>
>>>>>>> 9091959f2cf5b89f9a3875e2bf3c25e5399a58f4
