<div class=".container p-2 bg-light">

<h4 class="mt-4 font-family-base">THE MESSAGE TRANSFER HUB</h4>
<p class="lead mb-1">Welcome <%= user.name %><a href="/users/login" class="btn btn-secondary">Logout</a></p>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">QUICK BAR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-1 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<%# file sharing engine %>
<div class=".container-sm">
    <p class="mt-2 .fs-4 fw-bold" >UPLOAD YOUR FILE</p>
  </div>
  <% if(locals.fileLink != null){%>
    <div style="margin-bottom: 1rem;">
      Your file is uploaded
      <a href ="<%= locals.fileLink %>"><%= locals.fileLink %></a>
    </div>
  <% } %>

    <form action="/upload" method="post"  enctype="multipart/form-data" class="">
      
      <div class="row ">
        <div class="col-3 ">
          <label for="file">File:</label> 
          <input type="file" id="File" name="file" required/> 
        </div>
        <div class="col-3">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password"/>
        </div>
      </div>
      <div class="mt-2 col col-lg-2 mx-2 gap-3">
        <button class="btn btn-outline-dark btn-sm btn-border-radius-sm "  type="submit">Share</button>
      </div>
    </form>
    <% if (fileLink) { %>
        <p>File uploaded: <a href="<%= fileLink %>"><%= fileLink %></a></p>
    <% } %>

    <h2>Your Files</h2>
    <ul>
        <% files.forEach(function(file) { %>
            <li><a href="/file/<%= file._id %>"><%= file.originalName %></a></li>
        <% }); %>
    </ul>
</div>
